*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
  color: #fff;  
}
button{
    cursor: pointer;
}
button:disabled{
    cursor: pointer;
    opacity: 0.6;
}
body{
    height: 100vh;
    font-family: system-ui;
    background-image: url("./image/background-body.jpg");
    background-size: cover;
    background-position: center top;
    
}
.container{
    margin-top: 50px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
    
}
.btn-container{
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
.btn-container button{
    border: none;
    background: linear-gradient(rgb(255, 255, 255), rgb(197, 17, 197));
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    border-radius: 7px;
    height: 42px;
    transition: filter 0.2s;
    width: 280px;
}
.btn-container button:hover{
    filter: brightness(0.8);
}
.content-container{
    display: flex;
}
.grid{
    width: 206px;
    height: 406px;
    background: #000549;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid rgb(255, 38, 226);
}
.grid div{
    width: 20px;
    height: 20px;
}
.content-right{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.mini-grid{
    width: 126px;
    height: 126px;
    background: #000549;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid rgb(255, 38, 226);
}
.mini-grid div{
    width: 20px;
    height: 20px;
}
.content-right h3{
    font-size: 32px;
    margin-top: 24px;
}
.shapePainted {
    background: linear-gradient(rgb(34, 255, 63), rgb(160, 255, 172));
    border-right: 1px solid rgb(24, 24, 24);
    border-bottom: 1px solid rgb(24, 24, 24);   
}
.shapePaintedGreen {
    background: linear-gradient(rgb(34, 255, 63), rgb(160, 255, 172));
    border-right: 1px solid rgb(24, 24, 24);
    border-bottom: 1px solid rgb(24, 24, 24);   
}
.shapePaintedRed{
    background: linear-gradient(rgb(255, 34, 34), rgb(252, 134, 134));
    border-right: 1px solid rgb(24, 24, 24);
    border-bottom: 1px solid rgb(24, 24, 24); 
}
.shapePaintedPink{
    background: linear-gradient(rgb(255, 34, 255), rgb(252, 134, 134));
    border-right: 1px solid rgb(24, 24, 24);
    border-bottom: 1px solid rgb(24, 24, 24); 
}
.shapePaintedYellow{
    background: linear-gradient(rgb(255, 251, 34), rgb(245, 243, 150));
    border-right: 1px solid rgb(24, 24, 24);
    border-bottom: 1px solid rgb(24, 24, 24); 
}
.shapePaintedblue{
    background: linear-gradient(rgb(34, 93, 255), rgb(155, 182, 255));
    border-right: 1px solid rgb(24, 24, 24);
    border-bottom: 1px solid rgb(24, 24, 24); 
}
.shapePaintedOrange {
    background: linear-gradient(rgb(255, 141, 34), rgb(252, 206, 164));
    border-right: 1px solid rgb(24, 24, 24);
    border-bottom: 1px solid rgb(24, 24, 24);   
}
